@font-face{ 
     src: url("Fontes/Unicorn.ttf");
	 font-family: 'Unicorn';
}

@font-face{ 
     src: url("Fontes/Song.ttf");
	 font-family: 'Song';
}

@font-face{ 
     src: url("Fontes/Sweety.ttf");
	 font-family: 'Sweety';
}

body{
	
	background: #EAE5EF;
	
}

h1 {

	font-family: 'Unicorn';
	color: #cfbae8;
	text-shadow: 1.5px 1.5px #361c55;
	-webkit-text-stroke-width: 0.1px;
	-webkit-text-stroke-color: #fff;
	font-size: 55px;

}

h3{
	
	font-size: 22px;
	color: #716282;
	font-family: 'Song';
	text-shadow: 1px #000;
	
}

h2 {

	font-size: 1rem;
	font-family: 'Song';
	color: #716282;

}

p{

	text-align: left;
	margin-left: auto;
	margin-right: auto;	
	font-size: 18px;
	font-family: 'Song';

}

nav {

	display: flex;
  	width: 100%;
  	justify-content: center;

}

nav ul {

	display: block;
	list-style-type: none;	
	padding: 0;
	border-radius: 30px;
	background-color: white;

}

nav ul li{

	display: inline;

}

nav ul li a{

	padding: 10px 25px;
	color: #d8c8ea;
	text-align: center;
	font-family: 'Sweety';
	font-size: 18px;
	text-decoration: none;
	text-shadow: 1px 1px #633993;
	display: inline-block;

}

nav ul li a:hover{

	border-radius: 30px;
	color: white;
	background-color: #DFD8E6;
	text-shadow: 1px 1px #633993;

}

footer{
	
	font-size: 12px;
	font-family: 'Sweety';
	color: #A08AB5;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	text-align: center;
	margin-top: 1%;	

}


footer a{
	
	text-decoration: none;
	color: #B5A4C6;
}

footer a:hover{
	
	color: #957DAD;
	
}

table {

	margin: 2% auto 2% auto;
	width: 80%;
	text-align: center;
	font-family: 'Song';
	border-radius: 30px;
	font-size: 1.5rem;	
	-webkit-animation: glow 1s ease-in-out infinite alternate;
  	-moz-animation: glow 1s ease-in-out infinite alternate;
  	animation: glow 1s ease-in-out infinite alternate;

}

table th {

	border: 1px;
	border-radius: 20px;	
	padding: 1% 0 2% 0;
}

table td {

	border: 1px;
	border-radius: 20px;	
	padding: 2% 0 2% 0;
	color: #ff99c2;	 
	font-weight: 700;

}
@-webkit-keyframes glow {
  from {
    box-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 7px rgb(234, 229, 239), 0 0 11px rgb(234, 229, 239), 0 0 15px rgb(234, 229, 239), 0 0 19px rgb(234, 229, 239), 0 0 25px rgb(234, 229, 239);
  }
  to {
    box-shadow: 0 0 8px #fff, 0 0 13px rgba(139, 114, 167, 0.2), 0 0 16px rgba(139, 114, 167, 0.2), 0 0 20px rgba(139, 114, 167, 0.2), 0 0 25px rgba(139, 114, 167, 0.2), 0 0 30px rgba(139, 114, 167, 0.2), 0 0 35px rgba(139, 114, 167, 0.5);
  }
}

#pdf {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 5%;
}

#extra-description {

	padding: 1%;
	text-align: center;

}

#card-values {

	border: 1px;	
	box-shadow: 0px 0px 12px 1px #BFB1CE;
	border-radius: 10px;
	padding: 5%;
	margin: 5% 2% 0% 2%;
}

#card-values h3 {

	margin: 10% 0 0 0;

}

#values {

	text-align: center;
	justify-content: center;
	margin-bottom: 2%;
	width: 100%;

}

#values label {

	font-size: 1.5rem;	
	font-family: 'Song';
	color: #b3a2c3;
	text-shadow: 1px 1px #59446f;
	font-weight: 800;
}

#values h3 {

	font-size: 1.8rem;
	text-shadow: 1px 1px #000;
	font-family: 'Sweety';
	color: #d8c8ea;

}

#social-media {

	align-items: center;
	text-align: center;
	margin-top: 4%;
	padding-bottom: 4%;
	width: 100%;

}

#social-media a{

	text-decoration: none;
	font-family: 'Song';
	font-size: 1.5rem;
	font-weight: 800;
	margin-right: 5%;
	margin-left: 5%;
	color: #957DAD;

}

#social-media a:hover{

	color: #bfb0cf;
}

#contact-form {

	display: flex;
	flex-direction: column;
	width: auto;
	max-width: 40%;
	margin: 2% auto 0 auto;
	padding: 1%;	
  	border: 1px;  	
	box-shadow: 0px 0px 12px 1px #BFB1CE;
	border-radius: 10px;

}

#contact-form label {

	text-align: center;
	margin-top: 1.5%;
	font-family: 'Sweety';
	color: #957DAD;
	font-weight: 800;

}

#contact-form input {

	border: 1px;
	background-color: #EAE5EF;
	border-radius: 10px;
	padding: 1.5%;
	color: #808080;
	font-family: 'Song';
	font-size: 1.2rem;
	font-weight: 600;

}

#contact-form textarea {

	font-family: 'Song';
	font-size: 1.2rem;
	font-weight: 600;	
	color: #808080;
	border-radius: 10px;
	border: 1px;	
	background-color: #EAE5EF;

}

#btn-send {

	font-family: 'Unicorn';
	font-size: 1.5rem;
	width: 50%;
	margin: 4% auto 0 auto;	
	border-radius: 10px;
	border: 1px;	
	background-color: #EAE5EF;
	color: #808080;


}

#btn-send:hover {

	background-color: #bfb0cf;
	cursor: pointer;
	color: white;


}

#main-tr th {

	color: #716282;

}

#second-tr th {

	color: #9a83af;

}

#logo {

	width:28%;
	height:28%;

}

#card {

	background-color: white;
	max-width: 1000px;
    max-height: 100%;
    width: auto;
    height: auto;
	border-radius: 40px;
	margin: auto;

}

#quiqui{

	margin-left: 5%;
	width: 50%;
	position: relative;
}

#about{

	position: relative;
	max-width: 25%;
  	justify-content: center;
  	align-items: center;
  	text-align: center; 
  	border: 1px;  	
	box-shadow: 0px 0px 12px 1px #BFB1CE;
	border-radius: 20px;
	color: #716282;
  	padding: 10px 20px 10px 20px;
  	margin-left: auto;
  	margin-right: 5%;
  	margin-top: 5%;
}

#link-pdf {

	text-decoration: none;
	font-family: 'Song';
	font-size: 1.5rem;
	font-weight: 800;
	color: #957DAD;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 2%;

}

#link-pdf:hover {

	color: #bfb0cf;
}


#how-works {

	width: 50%;
	margin-left: 5%;

}

#thumbs {

	width: 40%;
}

#titles {

	text-align: center;
	margin: 0;

}

#widgets-description {

	text-align: center;
	padding: 0 10px;

}

#btn-slide {

  	text-align: center;
}

#left-widgets {

	margin-top: 5%;
	margin-left: 5%;
	padding-right: 10px;

}

#right-widgets {

	margin-top: 5%;
	margin-left: auto;
	margin-right: 5%;
	padding-left: 10px;
}

#overlays h1 {

	text-align: center;	
	margin: 0 0 0.5% 0;
	font-size: 2.8rem;

}

#overlays label {

	padding-right: 1%;
}

#overlays img {

	width: auto;
	height: auto;
	max-width: 95%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	border-radius: 30px;
}

#overlays img:hover {

	cursor: pointer;
	opacity: 0.8;
}


#radio-group {

	text-align: center;
	margin-bottom: 1%;

}

#payment-methods {

	text-align: center;
	padding: 5%;

}

#payment-methods label {

	font-size: 1.2rem;
	font-family: 'Sweety';
	color: #bfb0cf;
	text-shadow: 1px 1px #633993;	
	margin-left: 5%;
	margin-right: 5%;

}

.flex {

	display: flex;
	padding-bottom: 30px;

}

.img-size img {

	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	border-radius: 30px;	

}

.img-size img:hover {

	cursor: pointer;
	opacity: 0.8;	

}

.img-widget{
	
	border-radius: 30px;
	width: 45%;	
}

.img-overlay{
	
	border-radius: 30px;
	width: 85%;	
}

.current-page{

	border-radius: 30px;
	color: white;
	background-color: rgb(223, 216, 230, 0.9);
	text-shadow: 1px 1px #633993;		
}

.rounded-picture{

 	max-width: 70%;
    max-height: 70%;
    width: auto;
    height: auto;
	border-radius: 12px;
	opacity: 0.8;
	cursor: pointer;

}

.rounded-picture:hover{
	
	opacity: 1;
	
}

.center-logo{	
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.original-size-image{
	z-index:3;
	display:none;
	padding-top: 80px;
	position: fixed;
	left:0;
	top:0;
	width:100%;
	margin: auto;
	height:100%;
	overflow:auto;
	background-color:rgba(234, 229, 239, 0.5);
}

.button-original-image{
	font-size:30px;
	font-family: initial;
	border:none;
	display:inline-block;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:white;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;
	color: #DFD8E6;
	border: 2px solid;
	border-radius: 100px;
	position:absolute;
	right:0;
	top:0
}

.button-original-image:hover{
	background-color: #DFD8E6;
	color: white;
}


.spawn-original-image{
	margin: auto;
	position: relative;
	padding: 0px;
	outline: 0;
	text-align: center;
}

.spawn-original-widget{
	margin: auto;
	position: relative;
	padding: 0px;
	outline: 0;
	text-align: center;
}

.spawn-original-overlay{
	margin: auto;
	position: relative;
	padding: 0px;
	outline: 0;
	text-align: center;
}

.animated-spawn{
	animation:animatezoom 2s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}
}

.btn-widgets{
	
	font-size: 25px;
	font-weight: bold;
	border: solid #DFD8E6;
	padding: 2px 10px;
	background-color: white;
	text-align: center;
	cursor: pointer;
	color: #bfb1cd;
	border-radius: 100px;
	opacity: 0.6;
	

}

.btn-widgets:hover{
	
	opacity: 1;
	
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #cfbae8; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bc9fdf; 
}

:root {
  --color: rebeccapurple;
}

* {
  box-sizing: border-box;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #8b7c9c;
    font-family: 'Song';
    font-size: 1.4rem;
    font-weight: 0;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #DFD8E6;
    border-radius: 100%;
    box-shadow: 0px 0px 5px #d6b6fb;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #bfb1cd;
    position: absolute;
    box-shadow: 0px 0px 5px #d6b6fb;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 1s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

@media screen and (max-width: 1500px) {

	.img-widget{
	
	border-radius: 30px;
	width: 80%;	
	}

}

@media screen and (max-width: 650px) {

	#pdf {
		display: none;
	}

	footer{
	
	font-size: 12px;
	font-family: 'Sweety';
	color: #A08AB5;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	text-align: center;
	margin-top: 4%;	
	
	}

	#contact-form {

	display: flex;
	flex-direction: column;
	width: auto;
	max-width: 80%;
	margin: 2% auto 0 auto;
	padding: 1%;	
  	border: 1px;  	
	box-shadow: 0px 0px 12px 1px #BFB1CE;
	border-radius: 10px;

	}

	.rounded-picture{

 	max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
	border-radius: 12px;
	opacity: 0.8;
	cursor: pointer;

	}

	#logo {

	width:100%;
	height:100%;

	}	

	.flex {

		display: block;
		padding-bottom: 30px;

	}

	#quiqui{

	margin-left: 5%;
	width: 85%;
	position: relative;
	text-align: center;

	}

	#about {

	position: relative;
	max-width: 100%;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	text-align: center; 
  	flex-direction: column;
  	border: 1px;  	
	box-shadow: 0px 0px 12px 1px #BFB1CE;
	border-radius: 20px;
	color: #716282;
	margin-left: 5%;

	}

	#left-widgets {

		padding: 15px 10px;
		margin: 0;
		text-align: center;
	}

	#right-widgets {

		padding: 15px 10px;
		margin: 0;
		text-align: center;
	}


	#thumbs {

	width: 65%;

	}

	.img-widget{
	
	border-radius: 30px;
	width: 100%;	
	}
	

@media screen and (width: 540px) {

	nav ul li a{

		padding: 10px 10px;

	}


	#thumbs {

	width: 90%;

	}

}


@media screen and (width: 414px) {



	nav ul li a{

		padding: 10px 34px;

	}

	#thumbs {

	width:70%;

	}
}

@media screen and (width: 411px) {




	nav ul li a{

		padding: 10px 34px;

	}

	#thumbs {

	width:70%;

	}

}

@media screen and (max-width: 320px){
	nav ul li a {

		padding: 10px 18px;

	}

	h3 {

		font-size: 20px;
	}

	#thumbs {

	width:55%;

	}

}

@media screen and (max-width: 280px){

	nav ul li a {

		padding: 10px 12px;

	}

	h3 {

		font-size: 20px;
	}

	#thumbs {

	width:50%;

	}

}