@font-face{ 
     src: url("Fontes/Unicorn.ttf");
	 font-family: 'Unicorn';
}

@font-face{ 
     src: url("Fontes/Song.ttf");
	 font-family: 'Song';
}

@font-face{ 
     src: url("Fontes/Sweety.ttf");
	 font-family: 'Sweety';
}

body{
	
	background: #EAE5EF;
	
}

li {
	float: left;
}

li a {
	padding: 10px 40px 10px 40px;
	color: #b99dd9;
	background-color: white;
	font-family: 'Sweety';
	font-size: 18px;
	
}

ul {
	list-style-type: none;
	margin-top: 1.5%;
	margin-bottom: -0.5%;
	padding: 0;	
}

h1{
	
	font-family: 'Unicorn';
	color: #cfbae8;
	text-shadow: 1.5px 1.5px #361c55;
	-webkit-text-stroke-width: 0.1px;
	-webkit-text-stroke-color: #fff;
	font-size: 55px;
	margin-bottom: -4%;

}

h3{
	
	font-size: 22px;
	color: #716282;
	font-family: 'Song';
	text-shadow: 1px #000;
	
}

p{
	
	text-align: left;
	max-width: 285px;
}


footer{
	
	font-size: 12px;
	font-family: 'Sweety';
	color: #A08AB5;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	text-align: center;
	margin-top: 0.5%;	
	
}

footer a{
	
	text-decoration: none;
	color: #B5A4C6;
}

footer a:hover{
	
	color: #957DAD;
	
}


#navbar a:hover{
	
	color: white;
	background-color: #DFD8E6;
	
}

#left-widgets{
	
	padding-left: 60px;	
	
}

#right-widgets{
	
	padding-right: 60px;	
	
}

.right-border{
	border: 1px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.left-border{
	border: 1px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.center-logo{	
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.center-nav{
	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	text-align: center;  		
}

.main-card{
	width: 60%;
	margin: auto;
	padding: 30px 40px 30px 40px;
	background-color: white;	
	position: relative;
	border: 1px;
	border-radius: 25px;
}

.button-nav{
	
	border: none;
	display: inline-block;
	cursor: pointer;	
	text-decoration: none;
	
}

.about-me{
	
	position:relative;
	max-width: 60%;
	padding: 20px 10px 10px 10px;
	border: 1px ;
	border-radius: 10px;
	margin-left: auto;	
	font-size: 18px;
	font-family: 'Song';
	box-shadow: 0px 0px 12px 1px #BFB1CE;
	color: #716282;
}

.rounded-picture{

	border: 1px;
	border-radius: 12px;
	opacity: 0.8;
	cursor: pointer;
}

.rounded-picture:hover{
	
	opacity: 1;
	
}


.how-works{
	
	position: relative;
	margin-top: -30%;
	
}

.current-page{
	
	background-color: #DFD8E6;
	color: white;
	
	
}

* {
	box-sizing: border-box;
}

.column {
	float: left;
	width: 50%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.original-size-image{
	z-index:3;
	display:none;
	padding-top:100px;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:auto;
	background-color:rgba(234, 229, 239, 0.5);
}

.button-original-image{
	font-size:30px;
	border:none;
	display:inline-block;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:white;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;
	color: #DFD8E6;
	border: 2px solid;
	border-radius: 100px;
	position:absolute;
	right:0;
	top:0
}

.button-original-image:hover{
	background-color: #DFD8E6;
	color: white;
}


.spawn-original-image{
	margin:auto;
	position:relative;
	padding:0px;
	outline:0;
	width:600px;
}

.spawn-original-widget{
	margin:auto;
	position:relative;
	padding:0px;
	outline:0;
	width:1000px;
}

.animated-spawn{
	animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}
}

.page-title{
	
	font-family: 'Unicorn';
	color: #cfbae8;
	text-shadow: 1.5px 1.5px #361c55;
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: #fff;
	font-size: 80px;
	
}

.widgets{
	
	width: 350px;
	height: 300px;
	background-color: #dfd8e6;
	transition: background-image 1s;
	background-size: 100% 100%;
	border-radius: 20px;
	box-shadow: 0px 0px 20px rgb(202, 190, 214);
	
}
.widgets-left{
	
	width: 350px;
	height: 300px;
	margin-left: auto;
	position: relative;
	background-color: #dfd8e6;
	transition: background-image 1s;
	background-size: 100% 100%;
	border-radius: 20px;
	box-shadow: 0px 0px 20px rgb(202, 190, 214);
	
}

.primary-widgets-div{
	
	width: 350px;
	height: 300px;
	
}

.btn-prev{
	
  	text-align: left;
	padding-top: 132px;
	
}

.btn-next{
	
	text-align: right;
	padding-top: 132px;
	
}

.btn-prev-widgets{
	
	font-size:25px;
	font-weight: bold;
	border:none;
	display:inline-block;
	padding:2px 10px;
	overflow:hidden;
	text-decoration:none;
	background-color:white;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;
	color: #DFD8E6;
	border: 1px solid;
	border-radius: 100px;
	

}

.btn-next-widgets{
	
	font-size:25px;
	font-weight: bold;
	border:none;
	display:inline-block;
	padding:2px 10px;
	overflow:hidden;
	text-decoration:none;
	background-color:white;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;
	color: #DFD8E6;
	border: 1px solid;
	border-radius: 100px;


}
