@font-face{ 
     src: url("Fontes/Unicorn.ttf");
	 font-family: 'Unicorn';
}

@font-face{ 
     src: url("Fontes/Song.ttf");
	 font-family: 'Song';
}

@font-face{ 
     src: url("Fontes/Sweety.ttf");
	 font-family: 'Sweety';
}

body{
	
	background: #EAE5EF;
	
}

h1 {

	font-family: 'Unicorn';
	color: #cfbae8;
	text-shadow: 1.5px 1.5px #361c55;
	-webkit-text-stroke-width: 0.1px;
	-webkit-text-stroke-color: #fff;
	font-size: 55px;

}

h3{
	
	font-size: 22px;
	color: #716282;
	font-family: 'Song';
	text-shadow: 1px #000;
	
}

p{

	text-align: left;
	margin-left: auto;
	margin-right: auto;	
	font-size: 18px;
	font-family: 'Song';

}

nav {

	display: flex;
  	width: 100%;
  	justify-content: center;

}

nav ul {

	display: block;
	list-style-type: none;	
	padding: 0;
	border-radius: 30px;
	background-color: white;

}

nav ul li{

	display: inline;

}

nav ul li a{

	padding: 10px 25px;
	color: #d8c8ea;
	text-align: center;
	font-family: 'Sweety';
	font-size: 18px;
	text-decoration: none;
	text-shadow: 1px 1px #633993;
	display: inline-block;

}

nav ul li a:hover{

	border-radius: 30px;
	color: white;
	background-color: #DFD8E6;
	text-shadow: 1px 1px #633993;

}

footer{
	
	font-size: 12px;
	font-family: 'Sweety';
	color: #A08AB5;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	text-align: center;
	margin-top: 1%;	

}


footer a{
	
	text-decoration: none;
	color: #B5A4C6;
}

footer a:hover{
	
	color: #957DAD;
	
}

#logo {

	width:28%;
	height:28%;

}

#card {

	background-color: white;
	max-width: 1000px;
    max-height: 100%;
    width: auto;
    height: auto;
	border-radius: 40px;
	margin-left: auto;
	margin-right: auto;

}

#quiqui{

	margin-left: 5%;
	width: 50%;
	position: relative;
}


#about{

	position: relative;
	max-width: 25%;
  	justify-content: center;
  	align-items: center;
  	text-align: center; 
  	border: 1px;  	
	box-shadow: 0px 0px 12px 1px #BFB1CE;
	border-radius: 20px;
	color: #716282;
  	padding: 10px 20px 10px 20px;
  	margin-left: auto;
  	margin-right: 5%;
  	margin-top: 5%;
}

#flex {

	display: flex;
	padding-bottom: 30px;

}

#how-works{

	width: 50%;
	margin-left: 5%;

}

#thumbs {

	width:100%;
}


.current-page{

	border-radius: 30px;
	color: white;
	background-color: rgb(223, 216, 230, 0.9);
	text-shadow: 1px 1px #633993;		
}

.rounded-picture{

 	max-width: 70%;
    max-height: 70%;
    width: auto;
    height: auto;
	border-radius: 12px;
	opacity: 0.8;
	cursor: pointer;

}

.rounded-picture:hover{
	
	opacity: 1;
	
}

.center-logo{	
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.original-size-image{
	z-index:3;
	display:none;
	padding-top:100px;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:auto;
	background-color:rgba(234, 229, 239, 0.5);
}

.button-original-image{
	font-size:30px;
	border:none;
	display:inline-block;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:white;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;
	color: #DFD8E6;
	border: 2px solid;
	border-radius: 100px;
	position:absolute;
	right:0;
	top:0
}

.button-original-image:hover{
	background-color: #DFD8E6;
	color: white;
}


.spawn-original-image{
	margin:auto;
	position:relative;
	padding:0px;
	outline:0;
	width:600px;
}

.spawn-original-widget{
	margin:auto;
	position:relative;
	padding:0px;
	outline:0;
	width:800px;
}

.animated-spawn{
	animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}
}

@media screen and (max-width: 650px) {

	footer{
	
	font-size: 12px;
	font-family: 'Sweety';
	color: #A08AB5;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	text-align: center;
	margin-top: 4%;	
	
}


	.rounded-picture{

 	max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
	border-radius: 12px;
	opacity: 0.8;
	cursor: pointer;

	}

	#logo {

	width:100%;
	height:100%;

	}	

	#flex {

		display: block;
		padding-bottom: 30px;

	}

	#quiqui{

	margin-left: 5%;
	width: 85%;
	position: relative;
	text-align: center;

	}

	#about {

	position: relative;
	max-width: 100%;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	text-align: center; 
  	flex-direction: column;
  	border: 1px;  	
	box-shadow: 0px 0px 12px 1px #BFB1CE;
	border-radius: 20px;
	color: #716282;
	margin-left: 5%;

	}

	#thumbs {

	width:65%;

	}

@media screen and (width: 540px) {

	nav ul li a{

		padding: 10px 10px;

	}


	#thumbs {

	width:90%;

	}

}


@media screen and (width: 414px) {



	nav ul li a{

		padding: 10px 34px;

	}

	#thumbs {

	width:70%;

	}
}

@media screen and (width: 411px) {




	nav ul li a{

		padding: 10px 34px;

	}

	#thumbs {

	width:70%;

	}

}

@media screen and (max-width: 320px){
	nav ul li a {

		padding: 10px 18px;

	}

	h3 {

		font-size: 20px;
	}

	#thumbs {

	width:55%;

	}

}

@media screen and (max-width: 280px){

	nav ul li a {

		padding: 10px 12px;

	}

	h3 {

		font-size: 20px;
	}

	#thumbs {

	width:50%;

	}

}